@import 'global';

 .Center {
     margin: auto;
     width: 1016px;
     height: 100%;
     position: relative;
 }

 .make {
     color: white;
     text-decoration: none;
 }

 .logo {
     position: absolute;
     width: 78px;
     height: 48px;
     top: 48px;
     display: flex;
     align-items: center;
 }

 .Ellipse {
     width: 48px;
     height: 48px;
     border-radius: 100%;
     border-right: 24px solid transparent;
     border-top: 24px solid #FF7F22;
     border-left: 24px solid #FF7F22;
     border-bottom: 24px solid #FF7F22;
     border-top-left-radius: 24px;
     border-top-right-radius: 24px;
     border-bottom-left-radius: 24px;
     border-bottom-right-radius: 24px;
 }

 .Ellipse1 {
     position: absolute;
     width: 9px;
     height: 9px;
     background: #FF7F22;
     border-radius: 100%;
     left: 39px;
 }

 .Ellipse2 {
     position: absolute;
     width: 9px;
     height: 9px;
     background: #FF7F22;
     border-radius: 100%;
     left: 54px;
 }

 .Ellipse3 {
     position: absolute;
     width: 9px;
     height: 9px;
     background: #FF7F22;
     border-radius: 100%;
     left: 69px;
 }

 .Rectangle7 {
     position: absolute;
     width: 236px;
     height: 48px;
     left: 780px;
     top: 48px;
     border: 2px solid #FF7F22;
     border-radius: 60px;
     font-weight: 600;
     color: #FFFFFF;
     background: no-repeat;
     cursor: pointer;
 }

 .Rectangle7:hover {
     background: #FF5722;
 }

 .FPPB {
     position: absolute;
     width: 470px;
     height: 216px;
     left: 130px;
     top: 216px;
     font-weight: 600;
     font-size: 56px;
     line-height: 72px;
     color: #FFFFFF;
 }

 .KMK {
     position: absolute;
     width: 470px;
     height: 32px;
     left: 130px;
     top: 455px;
     font-weight: 600;
     font-size: 24px;
     line-height: 32px;
     /* identical to box height, or 133% */
     color: #A3B8CC;
 }

 .imgs {
     position: absolute;
     width: 366px;
     height: 320px;
     left: 650px;
     top: 192px;
 }

 .Ellipse4 {
     position: absolute;
     width: 275px;
     height: 275px;
     left: 31px;
     top: 4px;
     border-radius: 100%;
     background: #1E2936;
     z-index: 0;
 }

 .subtract {
     display: flex;
     align-items: center;
     position: absolute;
     width: 176px;
     height: 309.31px;
     left: 0px;
     top: 0.69px;
     z-index: 1;
 }

 .subtract2 {
     position: absolute;
     width: 138.35px;
     height: 195.89px;
     left: 194.35px;
     top: 102px;
     transform: scale(1, 1);
     z-index: 1;
 }

 .s {
     position: absolute;
     width: 24px;
     height: 24px;
     font-weight: 500;
     font-size: 12px;
     line-height: 24px;
     /* identical to box height, or 200% */
     display: flex;
     align-items: center;
     text-align: center;
     letter-spacing: 0.1em;
     text-transform: uppercase;
     color: #667380;
 }

 .s1 {
     top: 240px;
 }

 .s2 {
     top: 621px;
 }

 .s3 {
     top: 955px;
 }

 .s4 {
     top: 1441px;
 }

 .s5 {
     top: 1829px;
 }

 .skroll {
     position: absolute;
     width: 80px;
     height: 24px;
     left: -32px;
     top: 458px;
     font-weight: 500;
     font-size: 12px;
     line-height: 24px;
     display: flex;
     align-items: center;
     letter-spacing: 0.1em;
     text-transform: uppercase;
     color: #667380;
     transform: rotate(-90deg);
 }

 .vector {
     position: absolute;
     width: 12px;
     height: 18px;
     top: 520px;
     background-image: url('../img/vector.png') no-repeat;
 }

 .sv {
     position: absolute;
     animation-name: floating;
     animation-duration: 1.5s;
     animation-iteration-count: infinite;
 }

 @keyframes floating {
     0% {
         margin-top: 0px;
     }

     25% {
         margin-top: 10px;
     }

     50% {
         margin-top: 15px;
     }

     75% {
         margin-top: 10px;
     }

     100% {
         margin-top: 5px;
     }
 }

 .keyMon {
     position: absolute;
     width: 756px;
     height: 40px;
     left: 130px;
     top: 612px;
     font-weight: 600;
     font-size: 32px;
     line-height: 40px;
     color: #FFFFFF;
 }

 .mon {
     position: absolute;
     width: 310px;
     height: 24px;
     left: 130px;
     top: 755px;
     font-weight: bold;
     font-size: 24px;
     line-height: 24px;
     color: #A3B8CC;
 }

 .coin {
     position: absolute;
     height: 20px;
     left: 130px;
     top: 692px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 426px;
 }

 .coin img {
     position: relative;
     width: 16px;
     height: 20px;
     margin-left: -8px;
     transform: scale(-1, 1);
 }

 .coins {
     display: flex;
     margin-left: -7px;
 }

 .puy {
     position: absolute;
     left: 130px;
     top: 822px;
     cursor: pointer;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     background: none;
     border: none;
     color: #FF7F22;
     opacity: 0.5;
     border-bottom: 1px solid #FF7F22;
     padding-bottom: 5px;
 }

 .BuyCoin {
     position: absolute;
     width: 216px;
     height: 24px;
     left: 300px;
     top: 822px;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     color: #FFFFFF;
 }

 .Shops {
     position: absolute;
     width: 754px;
     height: 40px;
     left: 130px;
     top: 946px;
     font-weight: 600;
     font-size: 32px;
     line-height: 40px;
     color: #FFFFFF;
 }

 .stock {
     position: absolute;
     width: 754px;
     height: 40px;
     left: 130px;
     top: 1432px;
     font-weight: 600;
     font-size: 32px;
     line-height: 40px;
     color: #FFFFFF;
 }

 .clse {
     cursor: pointer;
 }

 .Production {
     position: absolute;
     width: 754px;
     height: 72px;
     left: 130px;
     top: 1804px;
     font-weight: 600;
     font-size: 32px;
     line-height: 72px;
     color: #FFFFFF;
 }

 .card {
     width: 236px;
     margin-top: 1046px;
     text-align: center;
     float: left;
 }

 .ico {
     width: 236px;
     height: 128px;
     text-align: -webkit-center;
 }

 .red {
     box-shadow: 0px 20px 90px 20px #FF7F22;
     width: 0px;
     height: 0px;
     margin: auto;
 }

 .bio {
     width: 236px;
     height: 32px;
     font-weight: 600;
     font-size: 20px;
     line-height: 32px;
     text-align: center;
     color: #FFFFFF;
 }

 .pay {
     width: 236px;
     height: 24px;
     top: 196px;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     text-align: center;
     color: #A3B8CC;
 }

 .made {
     position: relative;
     width: 200px;
     height: 48px;
     margin-top: 24px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #FFFFFF;
     background: linear-gradient(180deg, #FF7F22 0%, #FF5722 100%);
     border-radius: 60px;
     border: 2px solid #FF7F22;
     cursor: pointer;
 }

 .made:hover {
     background: #FF5722;
     border: #FF5722;
 }

 .items {
     margin-left: 130px;
 }

 .stocks {
     position: absolute;
     top: 1608px;
     display: flex;
     text-align: center;
 }

 .Amount {
     margin-top: 15px;
     font-weight: 600;
     font-size: 20px;
     line-height: 24px;
     text-align: center;
     color: #FFFFFF;
 }

 .madeS {
     position: relative;
     width: 200px;
     height: 48px;
     top: 24px;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     color: #7CDAF9;
     background: none;
     border-radius: 60px;
     border: 2px solid #7CDAF9;
     cursor: pointer;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
 }

 .madeS:hover {
     background: #7CDAF9;
     border: #7CDAF9;
     color: #212529;
     box-shadow: 0px 10px 40px #1E5466;
 }

 .radio {
     position: absolute;
     left: 130px;
     top: 1941px;
     color: white;
 }

 .radios {
     margin-top: 28px;
 }

 .width label {
     display: table-cell;
     width: 117px;
     font-weight: normal;
     font-size: 12px;
     line-height: 16px;
     color: #FFFFFF;
 }

 .custom-radio>input {
     position: absolute;
     z-index: -1;
     opacity: 0;
 }

 .custom-radio>span {
     display: inline-flex;
     align-items: center;
     user-select: none;
 }

 .custom-radio>span::before {
     content: '';
     display: inline-block;
     width: 24px;
     height: 24px;
     flex-shrink: 0;
     flex-grow: 0;
     border: 2px solid #adb5bd;
     border-radius: 50%;
     margin-right: 0.5em;
     background-repeat: no-repeat;
     background-position: center center;
 }

 .custom-radio>input:checked+span::before {
     border-color: white;
     background-color: none;
     background-image: url('../img/Ellipse 7.png');
     background-size: 16px;
 }

 .custom-radio>input:disabled+span::before {
     background-color: #e9ecef;
 }

 .TypeStab {
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
     color: #FFFFFF;
     margin-bottom: 16px;
 }

 .buttons {
     width: 300px;
     position: absolute;
     left: 390px;
     top: 1945px;
 }

 .checkboxs {
     float: left;
 }

 .makesd {
     position: absolute;
     width: 236px;
     height: 48px;
     left: 130px;
     top: 2182px;
     border: 2px solid #4C5865;
     box-sizing: border-box;
     border-radius: 60px;
     background: none;
     color: #4C5865;
 }

 .makesd:hover {
     background: #FF5722;
     border: #FF5722;
     color: white;
 }

 .makesd:active {
     background: #FF7F22;
     border: 2px solid #FF7F22;
     color: white;
 }

 .makesd:not(:active):disabled {
     background: none;
     border: 2px solid #FF7F22;
 }

 .textbuy {
     position: absolute;
     width: 195px;
     height: 48px;
     left: 390px;
     top: 2182px;
     font-weight: 500;
     font-size: 12px;
     line-height: 16px;
     color: #A3B8CC;
 }

 .alone {
     position: absolute;
     width: 236px;
     height: 320px;
     left: 650px;
     top: 1936px;
 }

 .custom-checkbox {
     display: none;
     position: absolute;
     z-index: -1;
     opacity: 0;
     position: fixed !important;
 }

 .custom-checkbox+label {
     display: inline-flex;
     align-items: center;
     user-select: none;
 }

 .custom-checkbox+label::before {
     content: '';
     display: inline-block;
     width: 1em;
     height: 1em;
     flex-shrink: 0;
     flex-grow: 0;
     border: 2px solid #A3B8CC;
     margin-right: 0.5em;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 50% 50%;
 }

 .custom-checkbox:checked+label::before {
    background-image: url('../img/ok.png');
 }

 .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #4C5865;
 }

 .custom-checkbox:focus:not(:checked)+label::before {
     border-color: #A3B8CC;
 }

 .custom-checkbox:disabled+label::before {
     background-color: #222B33;
 }

 .Iconmeh-checkbox {
     position: absolute;
     z-index: -1;
     opacity: 0;
 }

 .Iconmeh-checkbox+label {
     display: inline-flex;
     align-items: center;
     user-select: none;
     margin-left: 15px;
 }

 .Iconmeh-checkbox+label::before {
     content: '';
     display: inline-block;
     width: 48px;
     height: 48px;
     flex-shrink: 0;
     flex-grow: 0;
     background-repeat: no-repeat;
     background-position: center center;
     background-image: url('../img/Icon meh.png');
 }

 .Iconmeh-checkbox:focus+label::before {
     box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
 }

 .Iconmeh-checkbox:focus:not(:checked)+label::before {
     border-color: #80bdff;
 }

 .Iconmeh-checkbox:checked+label::before {
     background-image: url('../img/Icon meh2.png');
 }

 .Iconmeh-checkbox:disabled+label::before {
     background-image: url('../img/Icon meh1.png');
 }

 .hear-checkbox {
     position: absolute;
     z-index: -1;
     opacity: 0;
 }

 .hear-checkbox+label {
     display: inline-flex;
     align-items: center;
     user-select: none;
 }

 .hear-checkbox+label::before {
     content: '';
     display: inline-block;
     width: 48px;
     height: 48px;
     flex-shrink: 0;
     flex-grow: 0;
     background-repeat: no-repeat;
     background-position: center center;
     margin-left: 15px;
     background-image: url("../img/Icon meh4.png");
 }

 .hear-checkbox:focus+label::before {
     box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
 }

 .hear-checkbox:focus:not(:checked)+label::before {
     border-color: #80bdff;
 }

 .hear-checkbox:checked+label::before {
     background-image: url("../img/Icon meh5.png");
 }

 .hear-checkbox:disabled+label::before {
     background-image: url("../img/Icon meh4.png");
 }

 .ghost-checkbox {
     position: absolute;
     z-index: -1;
     opacity: 0;
 }

 .ghost-checkbox+label {
     display: inline-flex;
     align-items: center;
     user-select: none;
 }

 .ghost-checkbox+label::before {
     content: '';
     display: inline-block;
     width: 48px;
     height: 48px;
     flex-shrink: 0;
     flex-grow: 0;
     background-repeat: no-repeat;
     background-position: center center;
     margin-left: 15px;
     background-image: url("../img/Icon meh4.png");
 }

 .ghost-checkbox:focus+label::before {
     box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
 }

 .ghost-checkbox:focus:not(:checked)+label::before {
     border-color: #80bdff;
 }

 .ghost-checkbox:checked+label::before {
     background-image: url("../img/Icon meh6.png");
 }

 .ghost-checkbox:disabled+label::before {
     background-image: url("../img/Icon meh6.png");
 }

 #openModal {
     display: none;
 }

 #NotModal {
     display: none;
 }

 .modal-bg {
     position: fixed;
     left: 0;
     top: 0;
     width: -webkit-fill-available;
     height: 100vh;
     background: #1A1A1A;
     opacity: 0.67;
     z-index: 5;
 }

 .modal-dialog {
     margin: auto;
     left: 0;
     right: 0;
     display: block;
     position: fixed;
     top: 50%;
     margin-top: -100px;
     width: 496px;
     height: 240px;
     background: #FFFFFF;
     border-radius: 10px;
     z-index: 5;
 }

 .Rectangle20 {
     position: absolute;
     width: 2px;
     height: 16px;
     right: 17.64px;
     top: 8px;
     background: #FF7F22;
     transform: rotate(-45deg);
 }

 .Rectangle21 {
     position: absolute;
     width: 2px;
     height: 16px;
     right: 17.64px;
     top: 8px;
     background: #FF7F22;
     transform: rotate(-135deg);
 }

 .modal-header {
     position: relative;
 }

 .modal-title {
     position: absolute;
     width: 320px;
     height: 80px;
     left: 106px;
     top: 33px;
     font-weight: 600;
     font-size: 32px;
     line-height: 40px;
     color: #212529;
 }

 .modal-body {
     position: absolute;
     width: 306px;
     height: 64px;
     left: 106px;
     top: 136px;
     font-weight: 600;
     font-size: 20px;
     line-height: 32px;
     color: #4C5865;
 }

 .ImgCoin {
     position: absolute;
     width: 43px;
     height: 52px;
     left: 34px;
     top: 48px;
     background: url('../img/12.png');
 }

 .NotCoin {
     position: absolute;
     width: 43px;
     height: 58px;
     left: 34px;
     top: 48px;
     background: url('../img/bag.png');
     background-size: cover;
 }

 #close {
     display: block;
     cursor: pointer;
 }

 @media (min-width: 768px) and (max-width: 1031px) {
     body>div#app {
         height: 2718px;
     }

     .Center {
         width: auto;
     }

     .Rectangle7 {
         top: 24px;
         right: 136px;
         left: auto;
     }

     .logo {
         left: 136px;
         top: 24px;
     }

     .FPPB {
         left: 137px;
     }

     .s {
         display: none;
         ;
     }

     .sv {
         display: none;
     }

     .imgs {
         width: 236px;
         height: 206px;
         left: 396px;
         top: 152px;
     }

     .subtract {
         left: 0%;
         right: 51.91%;
         top: 0.22%;
         bottom: 3.12%;
         width: 113px;
         height: 199px;
     }

     .subtract2 {
         left: 126px;
         top: 65px;
         width: 89px;
         height: 126px;
     }

     .Ellipse4 {
         left: 8.47%;
         right: 16.39%;
         top: 1.25%;
         bottom: 12.81%;
         width: 177px;
         height: 177px;
     }

     .FPPB {
         width: 259px;
         height: 120px;
         left: 137px;
         top: 152px;
         font-weight: 600;
         font-size: 32px;
         line-height: 40px;
     }

     .KMK {
         width: 236px;
         height: 20px;
         left: 136px;
         top: 296px;
         font-weight: 600;
         font-size: 14px;
         line-height: 20px;
     }

     .keyMon {
         width: 366px;
         height: 32px;
         left: 136px;
         top: 438px;
         font-weight: 600;
         font-size: 24px;
         line-height: 32px;
     }

     .coin {
         height: 20px;
         top: 510px;
     }

     .mon {
         width: 310px;
         height: 24px;
         left: 136px;
         top: 554px;
         font-weight: bold;
         font-size: 18px;
         line-height: 24px;
     }

     .puy {
         width: 111px;
         height: 24px;
         left: 136px;
         top: 612px;
         font-weight: 500;
         font-size: 16px;
         line-height: 24px;
     }

     .BuyCoin {
         width: 216px;
         height: 24px;
         left: 306px;
         top: 612px;
         font-weight: 500;
         font-size: 16px;
         line-height: 24px;
     }

     .Shops {
         width: 496px;
         height: 32px;
         left: 136px;
         top: 720px;
         font-weight: 600;
         font-size: 24px;
         line-height: 32px;
     }

     .items {
         margin-left: auto;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         width: 472px;
         margin: auto;
     }

     .card {
         position: relative;
         margin-top: 60px;
         top: 732px;
     }

     .stock {
         width: 496px;
         height: 32px;
         left: 136px;
         top: 1466px;
         font-weight: 600;
         font-size: 24px;
         line-height: 32px;
     }

     .cardB {
         position: relative;
         margin-top: 60px;
     }

     .stocks {
         top: 838px;
         width: 472px;
         position: relative;
         margin: auto;
     }

     .Production {
         width: 496px;
         height: 32px;
         left: 136px;
         top: 2028px;
         font-weight: 600;
         font-size: 24px;
         line-height: 32px;
     }

     .radio {
         top: 2100px;
     }

     .buttons {
         left: 136px;
         top: 2306px;
         margin-left: -15px;
     }

     .makesd {
         left: 136px;
         top: 2570px;
     }

     .textbuy {
         left: 136px;
         top: 2502px;
     }

     .alone {
         width: 236px;
         height: 320px;
         left: 396px;
         top: 2100px;
     }
 }

 @media (max-width: 767px) {
     body>div#app {
         height: 3705px;
     }

     .Center {
         width: auto;
     }

     .logo {
         display: none;
     }

     .Rectangle7 {
         left: 0px;
         top: 24px;
         margin: auto;
         right: 0;
     }

     .FPPB {
         width: 236px;
         height: 96px;
         top: 368px;
         text-align: center;
         font-size: 28px;
         line-height: 32px;
         margin: auto;
         right: 0;
         left: 0px;
     }

     .imgs {
         width: 236px;
         height: 206px;
         top: 132px;
         margin: auto;
         right: 0;
         left: 0px;
     }

     .subtract {
         width: 113px;
         height: 199px;
     }

     .subtract2 {
         width: 89px;
         height: 126px;
     }

     .Ellipse4 {
         width: 177px;
         height: 177px;
     }

     .KMK {
         display: none;
     }

     .keyMon {
         margin: auto;
         right: 0;
         left: 0px;
         text-align: center;
         width: 236px;
         height: 64px;
         top: 524px;
         font-size: 24px;
         line-height: 32px;
     }

     .s {
         display: none;
     }

     .sv {
         display: none;
     }

     .modal-dialog {
         width: 236px;
         height: 210px;
     }

     .coin {
         top: 628px;
         margin: auto;
         right: 0;
         left: 0px;
         width: fit-content;
     }

     .mon {
         margin: auto;
         right: 0;
         left: 0px;
         top: 710px;
         font-size: 18px;
         line-height: 24px;
         width: max-content;
     }

     .puy {
         margin: auto;
         right: 0;
         width: max-content;
         left: 0px;
         left: 42px;
         top: 754px;
         font-size: 16px;
         line-height: 24px;
         color: #FF7F22;
     }

     .ImgCoin {
         left: 96px;
         top: 20px;
     }

     .NotCoin {
         display: block;
         left: 96px;
         top: 20px;
     }

     .BuyCoin {
         margin: auto;
         right: 0;
         left: 42px;
         top: 802px;
     }

     .custom-checkbox {
         left: 4px;
         top: 4px;
     }

     .Shops {
         margin: auto;
         right: 0;
         left: 0px;
         text-align: center;
         width: 236px;
         height: 64px;
         top: 890px;
         font-size: 24px;
         line-height: 32px;
     }

     .items {
         margin: auto;
         right: 0;
         left: 0px;
         display: grid;
         width: fit-content;
         top: 1965px;
     }

     .card {
         top: 944px;
         position: relative;
         margin-top: 64px;
     }

     .stock {
         width: max-content;
         left: 0px;
         top: 2037px;
         margin: auto;
         right: 0;
     }

     .Production {
         left: 0px;
         top: 2669px;
         margin: auto;
         right: 0;
         width: max-content;
     }

     .alone {
         margin: auto;
         right: 0;
         width: max-content;
         left: 0px;
         top: 2741px;
     }

     .radio {
         margin: auto;
         right: 0;
         width: max-content;
         left: -42px;
         top: 3091px;
     }

     .textbuy {
         margin: auto;
         right: 0;
         width: 236px;
         left: -42px;
         top: 3493px;
     }

     .buttons {
         margin: auto;
         right: 0;
         left: 0px;
         top: 3297px;
     }

     .makesd {
         margin: auto;
         right: 0;
         left: -42px;
         top: 3561px;
     }

     .cardB {
         position: relative;
         top: 100px;
         margin-top: 40px;
     }

     .modal-title {
         text-align: center;
         width: 236px;
         top: 82px;
         font-weight: 600;
         font-size: 18px;
         line-height: 24px;
         left: 0px;
     }

     .modal-body {
         text-align: center;
         width: 236px;
         top: 140px;
         font-weight: 600;
         font-size: 14px;
         line-height: 20px;
         left: 0px;
     }
 }